* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background-color: #0f172a;
    color: white;
    line-height: 1.6;
}

/* Navbar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: #111827;
    position: sticky;
    top: 0;
}

header .logo {
    font-size: 22px;
    font-weight: bold;
    color: #38bdf8;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}

/* Hero */
.hero {
    text-align: center;
    padding: 120px 20px;
}

.hero h1 {
    font-size: 48px;
}

.hero h2 {
    font-size: 28px;
    color: #38bdf8;
    margin: 10px 0;
}

.hero p {
    margin-bottom: 20px;
}

.btn {
    background: #38bdf8;
    padding: 10px 25px;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

/* Sections */
.section {
    padding: 80px 10%;
    text-align: center;
}

.dark {
    background-color: #111827;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.skill {
    background: #1e293b;
    padding: 12px 20px;
    border-radius: 5px;
}

.project {
    margin-top: 20px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #0a0f1c;
    font-size: 14px;
}

